@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap&#39;);

* {
padding: 0;
margin: 0;
}

.cabecalho {
background-color: #383D58;
color: #FFFFFF;
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;
}

.cabecalho-imagem {
width: 20%;
}

.cabecalho-lista-item{
display: inline-block;
margin: 0 16px;
font-size: 24px;
}

.escola-imagem {
width: 25%;
}

.escola {
background-image: linear-gradient(#383D58,#607538);
color: white;
display: flex;
justify-content: center;
align-items: center;
padding: 24px 0;
}

.escola-titulo{
padding: 24px 0;
}

.conteudo{
width:35%;
}
